<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" mode="over" >
      <mat-toolbar >
       
      </mat-toolbar>
      <mat-list role="list" *ngFor="let item of list_Items" >
        <mat-list-item role="listitem">  
          <fa-icon [icon]="[item.prefix , item.icon]"></fa-icon> 
          {{item.name}}</mat-list-item>



      </mat-list>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>
  
    <div class="app-sidenav-content">
      <app-navbar  (toggleSidenav)="sidenav.toggle()"></app-navbar>
      <div class="wrapper">
        <router-outlet ></router-outlet>
      </div>
    </div>
  
  </mat-sidenav-container>
  
